.avatar {
    vertical-align:middle;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-position: center;
  }
.centerAlign{
    text-align: center;
}
.titleSpan{
    font-size: x-small;
}