<div mat-dialog-title class="centerAlign">
    <img crossorigin="use-credentials" src="http://localhost:3000/mob/private/getDp" alt='avatar' class="avatar"><br>
    <span class="titleSpan">vimalsebastian4u@gmail.com</span>
    <hr>
</div>
<mat-dialog-actions>
    <div class="btn-group-vertical btnWidth">
        <button type="button" class="btn">
            <div style="display:inline-flex;">
                <mat-icon>settings</mat-icon>Settings
            </div>
        </button>
        <button type="button" class="btn">
            <div style="display:inline-flex;">
                <mat-icon>help</mat-icon>Help
            </div>
        </button>
        <button type="button" class="btn">
            <div style="display:inline-flex;">
                <mat-icon>description</mat-icon>About
            </div>
        </button>
        <button type="button" class="btn">
            <div style="display:inline-flex;">
                <mat-icon>logout</mat-icon>Logout
            </div>
        </button>
    </div>
</mat-dialog-actions>