.camera_logo{
    font-size: 40px;
    display: table;
    color: rgb(46, 41, 41);
}
.toolbar{
    background:linear-gradient(104deg, rgba(162,196,213,1) 8%, rgba(0,35,161,1) 99%);
}
.att{
    text-align: center;
    color:rgb(225, 225, 235);
    font-size: 18px;
    font-family: initial;
    // color: whitesmoke;
    text-transform: uppercase;
}
.font{
    font-size: 18px;
    font-family: initial;
    color: whitesmoke;
    text-transform: uppercase;
}

// Cards
.example-card {
    max-width: 400px;
    margin-top: 22px;
    border-radius: 15px;
    background: linear-gradient(104deg, rgba(162,196,213,1) 8%, rgba(0,35,161,1) 99%);
    color:whitesmoke;
 //    height: 320px;
}
.cardImg{
    height: 100px;
}
.btnWidth{
    width:100%;
    margin-top: -21px;
    
}
.font{
    font-size: 21px;
    font-family: initial;
    color: whitesmoke;
    text-transform: uppercase;
}
.entryBtn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    // transition: all 0.4s ease 0s;
    outline: none;
    text-align: center;
    margin-bottom: 20%;
}
.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.single-box{
    position: relative;
    display: flex;
    // flex-direction: column;
    align-self: center; 
    justify-content: center;
}