<div>
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <mat-icon class="camera_logo">camera</mat-icon>
            <div class="att"><span>{{sub}}</span></div>
            <!-- <div class="att"><span>subject</span></div> -->

        </mat-toolbar-row>
    </mat-toolbar>
</div>

<!-- Charts -->
<!-- <div>
    <canvas id="canvas"></canvas>
</div> -->

<!-- Camera icon -->

<div style="text-align: center;">
    <button mat-fab color='primary' (click)="demo()" [routerLink]="['camera']">
        <mat-icon>camera_alt</mat-icon>
    </button>
</div>