<div>
    <div>
        <mat-toolbar class="toolbar">
            <mat-toolbar-row>
                <mat-icon class="camera_logo">camera</mat-icon>
                <div class="att"><span>{{sub}}</span></div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <div style="text-align: center; margin-top: 20%;">
        <img src="../../assets/image/google-sheets-logo (1).png" alt="sheets" style="width: 190px;height: 120px;">
    </div>

    <div class="container box-area fixed-bottom" style="margin-bottom: 17%;">
        <div class="single-box" style="padding: 15px;">
            <button mat-fab aria-label="Manual Entry" isIconButton="true" isRoundButton="true" (click)='Pop()'
                style="outline: none;">
                <mat-icon>create</mat-icon>
            </button>
        </div>
        <div class="single-box" style="padding: 15px;">
            <button mat-fab color='primary' (click)="demo()" [routerLink]="['camera']" style="outline: none;">
                <mat-icon>camera_alt</mat-icon>
            </button>
        </div>
    </div>
</div>

<!-- <div class="fixed-bottom" style="text-align: center;">
    <button mat-raised-button class="entryBtn" (click)="Pop()" style="outline: none;">
        Manual Entry
    </button>
</div> -->