.camera_logo{
    font-size: 40px;
    display: table;
    color: rgb(46, 41, 41);
}
.toolbar{
    background:linear-gradient(104deg, rgba(162,196,213,1) 8%, rgba(0,35,161,1) 99%);
}
.att{
    text-align: center;
    color:rgb(225, 225, 235);
    font-size: 18px;
    font-family: initial;
    // color: whitesmoke;
    text-transform: uppercase;
}
.font{
    font-size: 18px;
    font-family: initial;
    color: whitesmoke;
    text-transform: uppercase;
}