<div>
    <div>
        <mat-toolbar class="toolbar">
            <mat-toolbar-row>
                <mat-icon class="camera_logo">camera</mat-icon>
                <div class="att"><span>{{sub}}</span></div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <div style="text-align: center; margin-top: 20%;">
        <img src="../../assets/image/google-sheets-logo (1).png" alt="sheets" style="width: 190px;height: 120px;">
    </div>

    <div class="fixed-bottom" style="text-align: center; margin-bottom: 10%;">
        <button mat-fab color='primary' (click)="demo()" [routerLink]="['camera']" style="outline: none;">
            <mat-icon>camera_alt</mat-icon>
        </button>
    </div>
</div>

<div class="fixed-bottom">
    <button mat-fab color='accent' (click)="Pop()" style="outline: none;">
        <mat-icon>camera_alt</mat-icon>
    </button>
</div>