<!-- Toolbar -->
<div>
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <mat-icon class="camera_logo att">camera</mat-icon>
            <span class="att">AutoAttendance</span>
            <span class="spacer"></span>
            <button mat-mini-fab color='warn' class="butDis" disableRipple='true' (click)='accPop()'>
                <img src="../../assets/image/vim_avatar.jpg" alt='avatar' class="avatar">
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>