
.spacer {
    flex: 1 1 auto;
}

.butDis {
    display: contents;
}   

.avatar {
    vertical-align:middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
  }
.camera_logo{
    font-size: 40px;
    display: table;
}
.toolbar{
    background-color: whitesmoke;
}
.att{
    color:blue;
}
 