<!-- Toolbar with PopUp-->
<div>
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <mat-icon class="camera_logo">camera</mat-icon>
            <span class="att">AutoAttendance</span>
            <span class="spacer"></span>
            <button mat-mini-fab color='warn' class="butDis" disableRipple='true' (click)='accPop()'>
                <img crossorigin="use-credentials" src="http://localhost:3000/mob/private/getDp" alt='avatar'
                    class="avatar">
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>


<!-- Cards -->
<div class="container ">
    <div *ngFor='let subject of subjects'>
        <mat-card class="example-card" (click)='navi(subject.name)'>
            <img mat-card-image crossorigin="use-credentials" src="http://localhost:3000{{subject.url}}"
                alt={{subject.name}} class="cardImg">
            <!-- <mat-card-actions>
                <div class="btn-group-vertical btnWidth">
                    <button type="button" class="btn font">{{subject.name}}</button>
                </div>
            </mat-card-actions> -->
            <mat-card-content style="text-align: center;">
                <span class="font">{{subject.name}}</span>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <div class="fixed-bottom" style="text-align: center; margin: 20px;">
        <button mat-raised-button color='accent'>Retake</button>
    </div> -->
</div>

<!-- kad -->
<!-- Card -->